<div class="pagetop">
			<div class="container">
				<h1>FAQ'S</h1>
				<ul>
					<li><a title="" href="#">Home</a></li>
					<li>Frequently Asked Questions</li>
				</ul>		
			</div>
		</div><!-- Page Top -->



		<section>
			<div class="block gray">
				<div class="container">
					<div class="row">
						<div class="col-md-8 column">
							<div class="faqs-page">
								<div id="toggle" class="toggle">
									<div class="toggle-item">
										<h3><i class="fa fa-arrow-circle-right"></i>Vellentesque temhicla lectus eget tempor.</h3>
										<div class="content">
											<div class="simple-text">
												<p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
											</div>
										</div>
									</div>
									<div class="toggle-item">
										<h3><i class="fa fa-arrow-circle-right"></i>Oellent esque pellentesquei quam, nec tempus nibh congue ut.</h3>
										<div class="content">
											<div class="simple-text">
												<p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
											</div>
										</div>
									</div>
									<div class="toggle-item">
										<h3><i class="fa fa-arrow-circle-right"></i>Esque pellentesquei quam, nec tempu congue.</h3>
										<div class="content">
											<div class="simple-text">
												<p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
											</div>
										</div>
									</div>
									<div class="toggle-item">
										<h3><i class="fa fa-arrow-circle-right"></i>Oellent esque pellentesquei quam, nec tempus nibh congue ut.</h3>
										<div class="content">
											<div class="simple-text">
												<p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
											</div>
										</div>
									</div>
									<div class="toggle-item">
										<h3><i class="fa fa-arrow-circle-right"></i>Vellentesque temhicla lectus eget tempor.</h3>
										<div class="content">
											<div class="simple-text">
												<p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
											</div>
										</div>
									</div>
									<div class="toggle-item">
										<h3>
											<i class="fa fa-arrow-circle-right"></i>
											Vellentesque temhicla lectus eget tempor.
										</h3>
										<div class="content">
											<div class="simple-text">
												<p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
											</div>
										</div>
									</div>
									<div class="toggle-item">
										<h3>
											<i class="fa fa-arrow-circle-right"></i>
											Vellentesque temhicla lectus eget tempor.
										</h3>
										<div class="content">
											<div class="simple-text">
												<p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
											</div>
										</div>
									</div>
								</div><!-- Accordions  -->
							</div>
						</div>
						<aside class="col-md-4 column">
							<div class="sidebar">
								<div class="widget">
									<form class="searchform">
										<input type="text" placeholder="Search">
										<button><i class="fa fa-search"></i></button>
									</form>
								</div><!-- Widget -->		
								<div class="widget">
									<div class="widget-title">
										<h4>Rooms Video</h4>
										<span>Local Guide</span>
									</div>
									<div class="room-video">
										<img src="http://placehold.it/310x298" alt="" />
										<div class="video-name">
											<a href="#" title=""><i class="fa fa-play"></i></a>
											<h5><a href="#" title="">Water Rafting</a></h5>
										</div>
									</div>
								</div><!-- Widget -->		

							</div>
						</aside>
					</div>
				</div>
			</div>
		</section>
		

		<div class="booking-popup">
			<div class="popup-container">
				<div class="popup-inner">
					<span class="close-btn"><%= image_tag "cross.png" %></span>
					<div class="popup-title">
						<span>Any Time Worldwide</span>
						<h4>Book Your Room</h4>
						<span>Not valid for bookings less than 3 days </span>
					</div><!-- Popup Title -->
					<div class="popup-details">
						<div class="popup-block">
							<div class="row">
								<div class="col-md-5 column">
									<div class="popup-block-title">
										<span>Any Time</span>
										<h4>Choose Your Date</h4>
									</div>
								</div>
								<div class="col-md-7 column">
									<form action="https://sky-sa1.clock-software.com/64789/10598/wbe/products/new?wbe_product[arrival]=arrival&wbe_product[nights]&wbe_product[adult_count]&wbe_product[children_count]" >
										<div class="row" > 
											<div class="col-md-6">
												<label>Check In</label>
												<div class="field">
													<input class="popupDatepicker" placeholder="Select Date" name="wbe_product[arrival]"  autocomplete="off" >
													<%= image_tag "https://hotelplaza.s3.us-east-2.amazonaws.com/calendar.png", class: "field-icon" %>
												</div>
											</div>
											
											<div class="col-md-4">
												<label>Nights</label>
												<div class="field">
													<input class="inc-dec" value="00" type="text" placeholder="" name="wbe_product[nights]">
												</div>
											</div>
											<div class="col-md-4">
												<label>Adults</label>
												<div class="field">
													<input class="inc-dec" value="00" type="text" placeholder="" name="wbe_product[adult_count]">
												</div>
											</div>
											<div class="col-md-4">
												<label>Kids</label>
												<div class="field">
													<input class="inc-dec" value="00" type="text" placeholder="" name="wbe_product[children_count]" >
												</div>
											</div>
											
											<div class="col-md-12">
												<button class="book-now" type="submit" style="text-decoration: none" >BOOK NOW </button>
											</div>
										</div>
									</form><!-- Tab Form -->
								</div>
							</div>
						</div><!-- up Block -->
						<!-- <div class="popup-block">
							<div class="row">
								<div class="col-md-5 column">
									<div class="popup-block-title">
										<span>Awesome Rooms</span>
										<h4>Your Room Summary</h4>
									</div>
								</div>
								<div class="col-md-7">
									<div class="popup-rooms">
										<div class="popup-room">
											<div class="popup-room-img">
												<img src="images/resource/popup-room.jpg" alt="" />
											</div>
											<div class="popup-room-detail">
												<i>Awesome Features Room</i>
												<h5>Super Star Luxury Hotle</h5>
												<div class="room-price-from">
													<strong>Start From </strong>
													<span>$289</span>
													<strong>Per Person</strong>
												</div>
												<a class="book-now" href="#" title="">SEE DETAILS</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="popup-block">
							<div class="row">
								<div class="col-md-5 column">
									<div class="popup-block-title">
										<span>We Stand By</span>
										<h4>Reservation Details</h4>
									</div>
								</div>
								<div class="col-md-7 column">
									<form>
										<div class="row">
											<div class="col-md-6">
												<label>First Name</label>
												<div class="field">
													<input type="text" placeholder="" />
												</div>
											</div>
											<div class="col-md-6">
												<label>Last Name</label>
												<div class="field">
													<input type="text" placeholder="" />
												</div>
											</div>
											<div class="col-md-6">
												<label>Email</label>
												<div class="field">
													<input type="email" placeholder="" />
												</div>
											</div>
											<div class="col-md-6">
												<label>Phone</label>
												<div class="field">
													<input type="email" placeholder="" />
												</div>
											</div>
											<div class="col-md-6">
												<label>City</label>
												<div class="field">
													<input type="email" placeholder="" />
												</div>
											</div>
											<div class="col-md-6">
												<label>Address</label>
												<div class="field">
													<input type="email" placeholder="" />
												</div>
											</div>
											<div class="col-md-12">
												<label>Requirements</label>
												<div class="field textarea">
													<textarea></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<button class="book-now" type="submit">BOOK NOW</button>
											</div>
										</div>
									</form> -->
								</div>
							</div>
						</div>
					</div>
